@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto:wght@400;900&display=swap");



.hide {
  display: none;
}

.aj{
  text-align: center;
}

#tableContainer {
  width: 100%;
  height: auto;
  min-width: 320px;
  padding: 20px;
  margin-top: 20px;
}

#listePers {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}

#listePers th,
#listePers td {
  text-align: center;
  padding: 8px;
  border: 1px solid #000;
}

#listePers th {
  background-color: #ff6944;;
  color: #ffffff;
}

#listePers tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

#listePers tbody tr:hover {
  background-color: gray;
}

#tableContainer button {
  padding: 5px 10px;
  cursor: pointer;
}

/* Ajoutez d'autres styles au besoin */
@media screen and (max-width:625px) {
  #tableContainer button {
    margin-bottom: 8%;
}
}


@media screen and (max-width:450px) {
#adherentForm {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: auto;
}
label{
  margin-bottom: 3%;
}
}
