#connexionform {
    border: 1px solid #A9A9A9;
    height: max-content;
    padding: 25px;
    background-color: hsl(220, 18%, 97%);
    border-radius: 10px;
    width: 29em;
    margin-top: 30px;
}

#msgBienvenue {
    margin: 30px;
    color: #ff6944;
}

#labelPassword, #labelLogin {
    font-size: 20px;
    font-weight: bolder;
}

#inputPassword::placeholder, #inputLogin::placeholder {
    font-size: 15px;
}

#recupPwdLink {
    color: #ff6944;
    text-decoration: solid;
    font-weight: bolder;
}

#recupPwdMsg {
    font-size: x-small;
}

#msgErrConnexion {
    color: #ff6944;
    font-family: 'Roboto';
    border-radius: 10px;
    background-color: #e6e6e6; 
    border: #A9A9A9 solid 1px;
    margin: 30px;  
}

#divMsgErrConnexion {
    margin: auto;
}