
img .miniImageBD {
    width: 100px;
    height: 120px;
}

img:hover {
    cursor: pointer;
}

.hide {
    display: none;
}

.displayList {
    display: row;
}

#tableDetailBD > tr > td {
    border: 1px solid black;
    text-align: left;
    padding-left: 5px;
    
}
.thDetailBD {
    background-color: #e6e6e6;
    font-weight: bolder;
    font-style: italic;
}

.addMarge {
    margin: 2em;
}

.grdImgBD {
    width: 300px;
    height: 400px;
}

.btnRecherche {
    width: 100px;
    font-size: 10px;
    margin-left: 10px;
    height: 15px;
}

#formRecherche > div> div> input {
    width: 100px;
}

#formRecherche {
    border: 1px solid #A9A9A9;
    background-color: #F5F6F8;
    padding: 3px;
    margin-top: 10px;
}

#listeBD {
    border: 1px solid #A9A9A9;
    border-radius: 10px;
    background-color: #e6e6e6;
}

.full:hover {
    -webkit-transform: scale(1.1);
}

