* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  min-width: 360px;
}

header {
  display: flex;
  flex-direction: column;
  background-color: #f5f6f8;
  margin-bottom: 30px;
  min-width: 320px;
}
.container {
  width: 100%;

  height: 30%;
}
.container .haut {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.logo a {
  text-decoration: none;
  color: #ff6944;
  align-items: center;
  margin-top: 30px;
  font-size: 20px;
}

header #monCompte {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  margin-right: 20px;
  margin-top: 25px;
}

.fa-regular.fa-user {
  color: #ff6944;
  padding-right: 10px;
  font-size: 24px;
}

nav {
  display: flex;

  font-size: 1.2em;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  border: 1px solid #000;
}

nav a {
  text-decoration: none;
  text-align: center;
  color: #000;
  padding: 10px;
  border-right: 1px solid #808080;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.3s;
}
nav a:last-child {
  border-right: 0;
}

nav a:hover {
  background-color: #808080;
  color: #fff;
}

main {
  display: flex;
  flex-direction: row;
  height: auto;
  min-width: 320px;
  padding: 20px;
}

aside {
  float: right;
  width: 70%;
  text-align: justify;
  padding: 40px;
  margin-top: 20px;
}

section {
  float: left;
  padding-top: 10px;
  width: 26%;
  padding: 30px;
  display: flex;
  flex-direction: column;

  border-right: 1px solid #808080;
}
section a {
  display: block;
  text-align: center;
  margin-top: 30px;
  text-decoration: none;
  font-size: 1.4em;
}

.nav-link {
  text-decoration: none;
  color: black; /* Couleur par défaut (noir) */
}

/* Style pour les liens actifs (en orange) */
.nav-link.active {
  color: orange;
}

.fas.fa-info-circle {
  color: #ff6944;
}

/* Style de la bordure des cellules */
.table-bordure {
  border: 1px solid #000;
  text-align: center;
}

.table-bordure th,
.table-bordure td {
  border: 1px solid #000;
}

/* Styles pour les cellules de l'en-tête */
.header-cell {
  width: 150px;
}

/* Styles pour les cellules de données */
.table-bordure td {
  width: 150px;
}

#listePrets table tr td:nth-child(2) {
  color: #ff6944;
}

#listePrets table tr:nth-child(1) {
  background-color: #e6e6e6; /* Couleur d'arrière-plan pour la deuxième ligne */
}
#listePrets table tr:nth-child(3) {
  background-color: #f5f6f8; /* Couleur d'arrière-plan pour la deuxième ligne */
}

.left {
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.input-container input {
  margin-right: 10px;
  border: 1px solid #000;
  width: 30%;
  height: 30px;
  padding: 10px;
  box-shadow: 0 0 2px 2px grey;
}

.input-container button {
  background-color: #ff6944;
  color: #fff;
  border-radius: 25px;
  width: auto;
  min-width: 20%;
  max-width: 30%;
  height: 40px;
  font-weight: bold;
  font-size: 1.1em;
  border: 2px solid #ff6944;
}
#resultatsRecherche {
  padding-bottom: 20px;
  border-bottom: 1px solid #ff6944;
}
#rechercheAdherentForm label {
  font-size: 1.2em;
  font-weight: bold;
}

#titreEnregistrer {
  font-size: 1.2em;
  font-weight: bold;
}
#adherentForm {
  background-color: #f5f6f8;
  padding: 50px;
  border-radius: 25px;
  font-size: 1.2em;
  font-weight: bold;
  border: 1px solid #000;
}

#adherentForm div {
  display: flex;
  justify-content: space-around;
}

#adherentForm {
  text-align: center;
}

#adherentForm input {
  border: 1px solid #000;
  width: 30%;
  height: 30px;
  box-shadow: 0 0 2px 2px grey;
  padding: 10px;
}

#bValider {
  background-color: #ff6944;
  color: #fff;
  border-radius: 25px;
  width: auto;
  min-width: 20%;
  height: 40px;
  font-weight: bold;
  font-size: 1em;
  border: 2px solid #ff6944;
}

#bAnnuler {
  background-color: #fff;
  color: #ff6944;
  border-radius: 25px;
  width: auto;
  min-width: 20%;
  height: 40px;
  font-weight: bold;
  font-size: 1em;
  border: 2px solid #ff6944;
}

.bModifier{
  background-color: #ff6944;
  color: #fff;
  border-radius: 25px;
  width: auto;
  min-width: 20%;
  height: 40px;
  font-weight: bold;
  font-size: 1em;
  border: 2px solid #ff6944;
}

.bSupprimer{
  background-color: #fff;
  color: #ff6944;
  border-radius: 25px;
  width: auto;
  min-width: 20%;
  height: 40px;
  font-weight: bold;
  font-size: 1em;
  border: 2px solid #ff6944;
}
@media screen and (min-width: 350px) and (max-width: 830px) {
  header nav {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  nav a {
    border-right: 0;
    border-bottom: 1px solid #808080;
    padding: 20px;
  }

  nav a:last-child {
    border-bottom: 0;
  }

  main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  section {
    border-bottom: 1px solid #808080;
    width: 100%;
    border-right: 0px;
    padding-top: 0%;
  }
  section a {
    margin-top: 0%;
  }

  aside {
    width: 100%;
  }
  .input-container input {
    width: 50%;
  }
  .input-container button {
    width: auto;
    min-width: 30%;
  }

  #adherentForm input {
    width: 50%;
    margin: auto;
  }

  #bValider {
    width: auto;
    margin-bottom: 5%;
    min-width: 40%;
  }

  #bAnnuler {
    width: auto;
    min-width: 40%;
  }
}

.custom-alert-class {
  width: 400px;
  font-size: 16px;
  background-color: #f5f6f8;
  text-decoration: none;
}

.customClass-link {
  color: black; /* Remplacez "yourColor" par la couleur de votre choix */
  text-decoration: underline; /* Ou ajoutez d'autres styles de lien selon vos préférences */
}
