#formAjoutEmp, #formModifEmp {
    background-color:#e6e6e6 ;
    border: 1px solid #A9A9A9;
    border-radius: 10px;
}

#lienAjoutEmp, #lienListeEmp {
    text-decoration:solid;
    font-size: 18px;
    color: black;
}  

#lienAjoutEmp:hover, #lienListeEmp:hover{
    color: #ff6944;
    font-weight: bold;
    cursor:pointer;
}

.changeColor{
    color: #ff6944;
}

#asideLiens {
    border-right: 1px solid #A9A9A9;
    margin-top: 3rem;
}

main {
    margin-left: 0;
}

#msgErrModifEmp, #msgErrAjoutEmp, #msgSep {
    color: #ff6944;
    font-family: 'Roboto';
    border-radius: 10px;
    background-color: #e6e6e6; 
    border: #A9A9A9 solid 1px;
    margin: 30px; 
    text-align: center; 
}

.h1 {
    color: #ff6944;
}
#btnModifierEmp, #btnSupprimerEmp {
    opacity: 0.6;
}

#btnModifierEmp:hover, #btnSupprimerEmp:hover {
    cursor: pointer;
    opacity: 1;
}

.thead {
    background-color: #e6e6e6;
    border: 1px solid #A9A9A9;
}

td:not(.tdActionEmp), #row {
    border: 1px solid #A9A9A9;
    padding-left: 5px;
    padding-right: 5px;
}

#row:hover {
    background-color: #F5F6F8;
}

.tdActionEmp {
    display: flex;
    justify-content: center; /* Center content horizontally */
    border: none;
}


@media screen and (min-width: 350px) and (max-width: 830px){ 
    #asideLiens {
        border-right:none;
        margin-top: 0;
    }
    #divEnsemble {
        height: 25%;
    }
    #lienAjoutEmp, #lienListeEmp {
        text-align: center;
        margin-top: 10px;
    }
}
