* {
    box-sizing: border-box;
}

button {
    background-color: #ff6944;
    border: white;
    color: white;
    border-radius: 15px;
    width: 150px;
    box-shadow : 5px 5px 10px 0px rgba(0,0,0,0.44);
    font-family: 'Roboto', sans-serif;
    transition: 0.3s;
}

h2 {
    font-family: 'Roboto', sans-serif;
}
button:hover {
    background-color: white;
    color: #ff6944;
    border: 1px solid #ff6944;
    box-shadow : 5px 5px 10px 0px rgba(0,0,0,0.44)
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
/* pr s'assurer que le FOOTER reste fixé en bas de la page */
    display: grid; 
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

#footer {
    border: 1px solid #A9A9A9;
    background-color: #F5F6F8;
    width: 100%;
    bottom: 0;
    height: 30px;
    font-style: italic;
    font-size: 10px;
}

/* partie menu - Début */
#headerGlobal {
    background-color: #F5F6F8;
}

div.divLienMenu {
    border: 1px solid #A9A9A9;
    border-right: 0;
    transition: 0.3s;
    border-top: 0;
}

div.divLienMenu:hover {
    background-color: #808080;
}

a.aLinkMenu, a#connexionLink{
    text-decoration: none;
    color: black;
    display: block;
}

.connexionLink{
    width: max-content;
}
#connexionLink {
    margin-right: 10px;
}
.material-symbols-outlined {
    color: #ff6944;
}

.menuFixe {
    border-bottom: 1px solid #A9A9A9;
}

.positionBurger {
    position: absolute;
    top:25px;
    right: 1px;
    text-align: center;
}

.list-group-item {
    padding: 5px;
    width: 150px;
    transition: 0.3s;
}
.list-group-item:hover {
    background-color: #A9A9A9;
    color: black;
}
/* partie menu - Fin */
