img .miniImageBD {
    width: 100px;
    height: 120px;
}

img:hover {
    cursor: pointer;
}

.hide {
    display: none;
}

.displayList {
    display: row;
}

table {
    border: 1px solid black;
}

.addMarge {
    margin: 5em;
}

.grdImgBD {
    width: 300px;
    height: 400px;
}

.btnRecherche {
    width: 150px;
    height: 23px;
    margin-top: 4px;
}

#formRecherche > div> div> input {
    width: 100px;
}

/* .secFormRecherche {
    border: 2px solid red;
    margin-top: 10px;
}

.divFormRecherche {
    /* background-color: blue; */
/* } */
