


.fas.fa-info-circle {
    color: #FF6944;
   
}

/* Style de la bordure des cellules */
.table-bordure {
    border: 1px solid #000; /* Choisissez la couleur et l'épaisseur de la bordure selon vos préférences */
   text-align: center;
}

.table-bordure th, .table-bordure td {
    border: 1px solid #000; /* Appliquez la même bordure aux cellules */
}


.premiere-ligne {
    background-color: #808080; /* Remplacez cette couleur par celle que vous souhaitez */
    
}

.troisieme-ligne {
    background-color: #F5F6F8; 
   
}

/* Styles pour les cellules de l'en-tête */
.header-cell {
    width: 150px; /* Définissez la largeur souhaitée */
}

/* Styles pour les cellules de données */
.table-bordure td {
    width: 150px; /* Définissez la largeur souhaitée */
}


#listePrets table tr td:nth-child(2) {
    color: #FF6944;
}